# Geoserver ENV variables
GEOSERVER_HOST_PUBLIC=
GEOSERVER_HOST_PRIVATE=
GEOSERVER_IGNORE_PRIVATE_HOST=0
EXISTING_DATA_DIR=true 
# Reset admin credentials on container restart
RESET_ADMIN_CREDENTIALS=FALSE
# Geoserver port
GEOSERVER_PORT=
GEOSERVER_ADMIN_USER=
GEOSERVER_ADMIN_PASSWORD=
# https://docs.geoserver.org/latest/en/user/datadirectory/setting.html
GEOSERVER_DATA_DIR=/opt/geoserver/data_dir
# https://docs.geoserver.org/latest/en/user/data/raster/gdal.html#external-footprints-data-directory
FOOTPRINTS_DATA_DIR=/opt/footprints_dir
# https://docs.geoserver.org/latest/en/user/geowebcache/config.html#changing-the-cache-directory
GEOWEBCACHE_CACHE_DIR=/opt/geoserver/data_dir/gwc
# Show the tomcat manager in the browser
TOMCAT_EXTRAS=true
# Redirect to GeoServer web interface
ROOT_WEBAPP_REDIRECT=false
# https://docs.geoserver.org/stable/en/user/production/container.html#optimize-your-jvm
INITIAL_MEMORY=2G
# https://docs.geoserver.org/stable/en/user/production/container.html#optimize-your-jvm
MAXIMUM_MEMORY=4G
INITIAL_HEAP_OCCUPANCY_PERCENT=45
# https://docs.geoserver.org/latest/en/user/production/config.html#disable-the-auto-complete-on-web-administration-interface-login
LOGIN_STATUS=on
# https://docs.geoserver.org/latest/en/user/production/config.html#disable-the-geoserver-web-administration-interface
DISABLE_WEB_INTERFACE=false